/* About Section */
.about-section {
    padding: 80px 20px;
    text-align: center;
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Για καλύτερη εμφάνιση σε μικρές οθόνες */
}

.about-image img {
    width: 150px; /* Μικρότερο μέγεθος εικόνας */
    height: 150px;
    border-radius: 50%; /* Στρογγυλό σχήμα */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-text {
    max-width: 500px;
    font-size: 18px;
    text-align: left;
}


